// +---------------------------------+
// | Diskonplus Content: Merchant    |
// +---------------------------------+

.view[data-page='merchant'] {
  // Video Box style
  .main-content .video-box {
    padding: 0;
    
    &:before {
      content: '';
      display: block;
      padding-top: 56.25%;
    }
    
    .play-ornament {
      @include size(72px, 72px);
      position: absolute;
      top: 50%;
      left: 50%;
      margin: {
        top: -36px;
        left: -36px;
      }
      border: solid 3px $white;
      background-color: rgba($b400, 0.83);
      z-index: 2;
      border-radius: 72px;
      box-shadow: 0 12px 15px 6px rgba($black, 0.24);
      
      > i {
        @include size(48px, 48px);
        color: $white;
        font-size: 48px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: {
          top: -24px;
          left: -24px;
        }
      }
    }
      
    > img {
      @include size(100%, 100%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  // Details Box Style
  .main-content .details-box {
    padding: 0;
    overflow-x: hidden;
    
    .carousel-trigger {
      @include size(100%, 48px);
      position: relative;
      box-shadow: 0 2px 3px rgba($black, 0.24);
        
      > a {
        @include size(50%, 48px);
        border: 0;
        font-weight: 500;
        color: rgba($text_regular, 0.7);
        display: inline-block;
        line-height: 48px;
        text-align: center;
        
        &.active {
          color: $text_regular;
          box-shadow: none;
        }
        
        &:active {
          box-shadow: none;
        }
      }
      
      .indicator {
        @include size(50%, 2px);
        background-color: $b400;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    
    .carousel-container {
      position: relative;
      
      .indicator {
        @include size(100%, 2px);
        position: absolute;
        left: 0;
        top: -2px;
        
        .swiper-scrollbar-drag {
          border-radius: none !important;
          background-color: $b400;
        }
      }
      
      .carousel-item {
        padding: {
          top: 16px;
          bottom: 23px;
        }
        
        .info-box {
          border-radius: 2px;
          box-shadow: 0 2px 9px rgba($black, 0.24);
          border-radius: 2px;
          padding-bottom: 20px;
          transform: translateZ(0);
          
          .map {
            @include size(100%, 220px);
            position: relative;
            overflow: hidden;
            
            &:after {
              content: '';
              @include size(100%, 80px);
              position: absolute;
              bottom: 0;
              left: 0;
              background-color: transparent;
              background-image: linear-gradient(0deg , rgba($black, 0.45) 0%, rgba($black, 0) 100%);
            }
            > img {
              @include size(100%, 100%);
            }
          }
          
          .tools {
            border-top: solid 1px #616161;
            padding-left: 16px;
            @include size(100%, 45px);
            position: relative;
            
            .merchant-logo {
              @include size(72px, 72px);
              background-color: $white;
              box-shadow: 0 4px 20px 2px rgba($black, 0.16);
              border-radius: 72px;
              overflow: hidden;
              position: absolute;
              top: -22px;
              left: 7px;
              z-index: 2;
            }
            .external-link {
              @include size(auto, 45px);
              margin-left: 36px;
              display: block;
              text-align: right;
              position: relative;
              
              &:after {
                content: '';
                @include size(100%, 1px);
                background-color: $g300;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
              }
              
              > a {
                @include size(auto, 100%);
                display: inline-block;
                line-height: 46px;
                font-weight: 500;
                color: $b400;
                padding: 0 11px;
                vertical-align: middle;
                
                &:not(:last-child) {
                  border-right: solid 1px $g300;
                }
                
                > i {
                  vertical-align: middle;
                  margin-top: -3px;
                  color: $b400;
                  margin-left: 4px;
                }
              }
            }
          }
          
          > address {
            margin: 23px 0 0;
            padding: 0 16px;
            
            > span {
              display: block;
              position: relative;
              padding-left: 40px;
              font-weight: 500;
              line-height: 20px;
              
              &:not(:first-child) {
                margin-top: 10px;
              }
              
              > abbr {
                position: absolute;
                top: 0;
                left: 0;
                border-bottom: 0;
                    
                i {
                  color: $g400;
                }
              }
            }
          }
        }
        
        article {
          line-height: 24px;
          position: relative;
          border-bottom: solid 1px $g300;
          margin-bottom: 46px;
          
          h2, p {
            font: {
              size: 1em;
              weight: 400;
            }
            line-height: inherit;
          }
          p {
            display: none;
          }
          span {
            width: 100%;
            display: block;
            font-weight: 500;
            color: $b400;
            text-align: center;
            position: absolute;
            bottom: -33px;
            left: 0;
          }
        }
        
        .gallery {
          .row .thumbnail {
            margin-bottom: 0;
            padding: 0;
            border-color: $white;
          }
        }
        
        .voucher-box {
          .voucher {
            background-color: #ff7043;
            position: relative;
            overflow: hidden;
            padding: 10px;
            
            &.unavailable {
              background-color: #9e9e9e;
            }
            &:not(:last-child) {
              margin-bottom: 11px;
            }
            
            .clip {
              @include size(20px, 20px);
              position: absolute;
              background-color: $white;
              border-radius: 20px;
              
              &.tl {
                top: -10px;
                left: -10px;
              }
              &.tr {
                top: -10px;
                right: -10px;
              }
              &.br {
                bottom: -10px;
                right: -10px;
              }
              &.bl {
                bottom: -10px;
                left: -10px;
              }
            }
            .rip-border {
              @include size(4px, 200px);
              background-image: linear-gradient(to bottom, $white 40%, rgba($black, 0) 0%);
              background-position: top;
              background-size: 4px 9px;
              background-repeat: repeat-y;
              position: absolute;
              top: 14px;
              
              &.rl {
                left: -1px;
              }
              &.rr {
                right: -1px;
              }
            }
            .voucher-info {
              box-shadow: inset 0 0 0 2px $white;
              overflow: hidden;
              position: relative;
              background-color: inherit;
              
              .inner-clip {
                @include size(18px, 18px);
                position: absolute;
                background-color: inherit;
                border: {
                  width: 2px;
                  color: $white;
                  radius: 18px;
                }
                
                &.tl {
                  top: -8px;
                  left: -8px;
                  border-right-style: solid;
                  border-bottom-style: solid;
                }
                &.tr {
                  top: -8px;
                  right: -8px;
                  border-left-style: solid;
                  border-bottom-style: solid;
                }
                &.br {
                  bottom: -8px;
                  right: -8px;
                  border-left-style: solid;
                  border-top-style: solid;
                }
                &.bl {
                  bottom: -8px;
                  left: -8px;
                  border-right-style: solid;
                  border-top-style: solid;
                }
              }
              
              > h2 {
                font: {
                  size: 16px;
                  weight: 700;
                }
                color: $white;
                line-height: 36px;
                margin: 0;
                border-bottom: solid 1px $white;
                text-align: center;
              }
              .details {
                position: relative;
                padding-left: 71px;
                
                .off {
                  @include size(71px, auto);
                  position: absolute;
                  top: 0;
                  left: 0;
                  border-right: solid 1px $white;
                  font: {
                    size: 20px;
                    weight: 500;
                  }
                  color: $white;
                  padding: 13px 0 17px;
                  text-align: center;
                  line-height: 24px;
                }
                .expire {
                  padding: 4px 7px;
                  border-bottom: solid 1px $white;
                  
                  > small {
                    color: $white;
                    font-size: 12px;
                    display: block;
                  }
                  > p {
                    margin: 0;
                    font-weight: 700;
                    color: $white;
                  }
                }
                .info {
                  padding: 4px 7px;
                  font-weight: 500;
                  
                  > em {
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

