// +---------------------------------+
// | Diskonplus Content: Landing     |
// +---------------------------------+

.view[data-page='landing'] {
  // Video Box style
  .main-content {
    background-color: #eee;
    padding-bottom: 16px;
    
    .swiper-container {
      padding: 0;
      position: relative;
      
      &:before {
        content: '';
        display: block;
        padding-top: 56.25%;
      }
      &:after {
        content: '';
        @include size(100%, 80px);
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: transparent;
        background-image: linear-gradient(0deg , rgba($black, 0.45) 0%, rgba($black, 0) 100%);
        z-index: 5;
      }
      
      .swiper-wrapper {
        @include size(100%, 100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        .swiper-slide > img {
          @include size(100%, 100%);
        }
      }
      .swiper-pagination {
        .swiper-pagination-bullet {
          background-color: $white;
          opacity: 0.45;
        }
        .swiper-pagination-bullet-active {
          background-color: #e1f5fe;
          opacity: 1;
        }
      }
    }
    
    .new-merchants {
      padding-bottom: 16px;
      overflow-x: hidden;
      
      .grab-swiper-container {
        .swiper-wrapper {
          .swiper-slide {
            @include size(132px !important, auto);
            margin-right: 16px;
            position: relative;
            background-color: $white;
            box-shadow: 0 2px 9px rgba($black, 0.24);
            border-radius: 2px;
            overflow: hidden;
            
            &:before {
              content: '';
              display: block;
              padding-top: 100%;
            }
            &:last-child {
              margin-right: 0 !important;
            }
            
            > img {
              @include size(100%, auto);
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
            }
            > p {
              font: {
                size: 16px;
                weight: 500;
              }
              color: $text_dark;
              line-height: 20px;
              padding: 0 24px 0 11px;
              margin: 7px 0;
            }
            > button {
              @include size(24px, 24px);
              position: absolute;
              top: 136px;
              right: 0;
              border: 0;
              padding: 0;
              background: transparent !important;
              outline: none;
              
              > i {
                color: $g400;
                text-align: center;
              }
            }
          }
        }
      } 
    }
    
    .hot-promo {
      .row {
        border-top: solid 1px $g300;
        position: relative;
        padding:16px 0;
        margin: 0;
        
        > img {
          @include size(40px, 40px);
          position: absolute;
          top: 16px;
          left: 16px;
          border: solid 1px rgba($black, 0.15);
          border-radius: 40px;
        }
        .discount {
          @include size(auto, 24px);
          line-height: 24px;
          position: absolute;
          top: 20px;
          right: 16px;
          color: $orange;
          font: {
            size: 20px;
            weight: 500;
          }
          
          > i, span {
            color: inherit;
            display:inline-block;
            vertical-align: middle;
          }
        }
        > article {
          padding-left: 71px;
          
          > h3 {
            font: {
              size: 16px;
              weight: 500;
            }
            color: $text_dark;
            margin: 0;
            padding-right: 87px;
          }
          > small {
            font-size: 14px;
            color: #757575;
            margin-top: 2px;
            display: block;
          }
          > p {
            margin: 8px 0 0;
            padding-right: 16px;
            font-weight: 500;
            line-height: 18px;
          }
        }
      }
    }
    
    .categories {
      .col-xs-12 {
        border-top: solid 1px $g300;
        padding: 0;
        
        .col-xs-4 {
          text-align: center;
          margin: 0;
          padding: 0;
          position: relative;
          
          &:nth-child(2) {
            border: {
              color: $g300;
              width: 1px;
              style: solid;
              top-width: 0;
              bottom-width: 0;
            }
          }
          
          .upper {
            @include size(100%, 80px);
            
            > i {
              @include size(64px, 64px);
              font-size: 36px;
              padding: 14px;
              color: $white;
              text-align: center;
              border-radius: 64px;
              margin-top: 16px;
              
              $colors: (#5c6bc0, #f9a825, #f44336, #4db6ac, #f06292, #448aff);
              @for $i from 1 through 6 {
                &.item-#{$i} {
                  background-color: nth($colors, $i);
                }
              }
            }
          }
          .lower {
            @include size(100%, 49px);
            padding: 0 7px;
            
            > span {
              @include size(100%, 100%);
              line-height: 17px;
              font-weight: 500;
              color: #616161;
              display: flex;
              flex-flow: column wrap;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

