// +---------------------------------+
// | Diskonplus Appbar Style         |
// +---------------------------------+

.appbar {
  @include size(100%, 56px);
  position: fixed;
  z-index: 100;
  box-shadow: 0 16px 28px rgba(0,0,0,0.22);
  background-color: $p400;
  padding: 4px 2px;
  overflow: hidden;
}
.appbar .tool-trigger {
  @include size(48px, 48px);
  padding: 12px;
  border: 0;
  background-color: transparent;
  z-index: 5;
  outline: none;
  position: relative;
  
  .icons {
    color: $white;
  }
  // .ink {
  //   display: block; position: absolute;
  //   background: hsl(180, 40%, 80%);
  //   border-radius: 100%;
  //   transform: scale(0);
  // }
  // /*animation effect*/
  // .ink.animate {animation: ripple 0.5s linear;}
  // @keyframes ripple {
  //   /*scale the element to 250% to safely cover the entire link and fade it out*/
  //   // 100% {opacity: 0; transform: scale(2.5);}
  //   100% {opacity: 0; transform: scale(2);}
  // }
}
.appbar .page-title {
  @include size(auto, 100%);
  display: inline-block;
  margin: 0 0 0 22px;
  font: {
    size: 20px;
    weight: 500;
  }
  color: $white;
  line-height: 48px;
}