// +---------------------------------+
// | Diskonplus Core Style           |
// +---------------------------------+

* {
  color: $text_regular;
  // make transparent link selection, adjust last value opacity 0 to 1.0
  -webkit-tap-highlight-color: rgba($black, 0);
  backface-visibility: hidden;
  
  &::-webkit-scrollbar {
    width: 0;
    display: none;
    visibility: hidden;
  }
}
body {
  background-color: $white;
  // prevent callout to copy image, etc when tap to hold
  -webkit-text-size-adjust: none;
  // prevent webkit from resizing text to fit
  -webkit-touch-callout: none;
  // prevent copy paste, to allow, change 'none' to 'text'
  -webkit-user-select: none;
  overflow-x: hidden;
  
}
a:active, a:focus, a:hover {
  text-decoration: none !important;
}
.on-left {
  float: left;
}
.on-right {
  float: right;
}
.main-content {
  padding-top: 56px;
}
.fluid-section {
  margin-top: 16px;
  padding: 16px 0 0;
  position: relative;
  background-color: $white;
  box-shadow: 0 1px 3px rgba($black, 0.2);
  
  &.has-title {
    padding-top: 68px;
  }
  
  > h2 {
    height: 36px;
    line-height: 36px;
    font: {
      size: 20px;
      weight: 500;
    }
    position: absolute;
    top: 16px;
    left: 16px;
    margin: 0;
  }
  > button {
    @include size(auto, 36px);
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: $b400 !important;
    color: $white !important;
    border: 0 !important;
    padding: {
      left: 16px;
      right: 16px; 
    }
    box-shadow: 0 2px 3px rgba($black, 0.16);
    outline: none !important;
  }
}