// +---------------------------------+
// | Diskonplus Mixin Directives     |
// +---------------------------------+

// Size
// Desc: return the given width and height value
@mixin size($w, $h) {
  width: $w;
  height: $h;
}

