// +---------------------------------+
// | Diskonplus Mixin Directives     |
// +---------------------------------+

// Colors - Primary
$p400: #ba68c8;

// Colors - Accent
$b400: #00b0ff;

// Colors - Grey
$g300: #e0e0e0;
$g400: #bdbdbd;
$g600: #757575;

// Colors - Other
$white: #ffffff;
$black: #000000;
$orange: #f44336;
$text_regular: #424242;
$text_dark: #212121;
